<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav teste-scroll" mode="side">
      <div class="row mb-3">
          <span class="side-menu-title ms-4 mt-3 mb-2 my-title-1">Menu</span>
      </div>      
  </mat-drawer>

      <mat-toolbar color="primary" *ngIf="mostrarMenu">
          <mat-toolbar-row style="padding-left: 0px;">
                <button 
                    mat-icon-button
                    class="example-icon"
                    data-bs-toggle="offcanvas" 
                    data-bs-target="#offcanvasExample">

                    <mat-icon>menu</mat-icon>
                </button>                
        
                <img src="assets/images/bar-chart.png" class="ms-2" style="width: 50px;" alt="">
                <span class="ms-2">SysDash</span>
        
                <span class="example-spacer"></span>
                <!-- <div class="user-name">Jaques Oliveira</div> -->

                <button mat-icon-button 
                    [matMenuTriggerFor]="menu" 
                    class="example-icon favorite-icon" 
                    aria-label="Example icon-button with heart icon" 
                    (click)="getNomeUsuario()">
                    <mat-icon>person</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item >{{nomeUsuario}}</button>
                </mat-menu>
              
              <!-- <button mat-icon-button 
                  class="example-icon favorite-icon" 
                  aria-label="Example icon-button with heart icon">
                  <mat-icon>person</mat-icon>
                  
              </button> -->
              
              <!-- <button mat-icon-button 
                  class="example-icon" 
                  aria-label="Example icon-button with share icon">
                  <mat-icon>settings</mat-icon>
              </button> -->
      
              <button mat-icon-button 
                  class="example-icon" 
                  aria-label="Example icon-button with share icon"
                  (click)="sair()">
                  <mat-icon>logout</mat-icon>
              </button>
          </mat-toolbar-row>
      </mat-toolbar>

      <div>
          <router-outlet></router-outlet>            
      </div>

</mat-drawer-container>

<div class="offcanvas offcanvas-start" 
  tabindex="1" 
  id="offcanvasExample"
  data-bs-backdrop="false"
  aria-labelledby="offcanvasExampleLabel">
  
  <div>
      <div class="d-flex justify-content-between ps-3 pt-3 pe-3" 
          style="display: flex; align-items: center;">
          <div>
              <span class="my-title-1 my-side-menu-title-1">
                  
                  Menu
              </span>
          </div>
          
          <div>
              <button mat-mini-fab
                  color="primary"        
                  data-bs-dismiss="offcanvas" 
                  aria-label="Close">
                  <mat-icon>close</mat-icon>
              </button>
          </div>            
      </div>        
  </div>
  
  <div class="offcanvas-body" style="top: -20px;">
      <div class="row">
          <ul>
              <mat-divider></mat-divider> 
              <li style="margin-top: 10px; margin-bottom: 10px;">
                  <a routerLink="/home" 
                      class="btn ms-2 mt-2 my-title-1"
                      style="display: flex; align-items: center;"
                      data-bs-dismiss="offcanvas">

                      <mat-icon>dashboard</mat-icon>
                      <span class="ms-2">Dashboard</span> 
                  </a>
              </li>
              <mat-divider></mat-divider>
              
              <li>
                  <div class="accordion accordion-flush" 
                      id="accordionFlushExample">
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne" 
                              style="padding-bottom: 0px !important;" >
                              <button 
                                  class="accordion-button collapsed  my-title-1" 
                                  type="button" 
                                  data-bs-toggle="collapse" 
                                  data-bs-target="#flush-collapseOne" 
                                  aria-expanded="false" 
                                  aria-controls="flush-collapseOne"
                                  style="padding-bottom: 15px !important;">

                                  <mat-icon>description</mat-icon>                                    
                                  <span class="ms-2 ">Cadastros</span>
                              </button>
                          </h2>
                          <div id="flush-collapseOne" 
                              class="accordion-collapse collapse" 
                              aria-labelledby="flush-headingOne" 
                              data-bs-parent="#accordionFlushExample">

                              <li style="margin-top: 10px; margin-bottom: 10px ">
                                  <a routerLink="/acompanhamento" 
                                      class="btn ms-4 mt-2 my-title-1"
                                      style="display: flex; align-items: center;"
                                      data-bs-dismiss="offcanvas">
              
                                      <mat-icon>inventory_2</mat-icon>                                    
                                      <span class="ms-2">Acompanhamento</span>
                                      
                                  </a>
                              </li>
                              <mat-divider *ngIf="isAdmin"></mat-divider>
              
                              <li style="margin-top: 10px; margin-bottom: 10px;" *ngIf="isAdmin">
                                  <a routerLink="/usuarios-list" 
                                      class="btn ms-4 mt-2 my-title-1"
                                      style="display: flex; align-items: center;"
                                      data-bs-dismiss="offcanvas">

                                      <mat-icon>group</mat-icon>                                    
                                      <span class="ms-2">Usuários</span>
                                  </a>
                              </li>                              
                          </div>
                      </div>
                  </div>
              </li>

              <mat-divider></mat-divider> 
              <li style="margin-top: 10px; margin-bottom: 10px;">
                  <a routerLink="/login" 
                      class="btn ms-2 mt-2 my-title-1"
                      style="display: flex; align-items: center;"
                      data-bs-dismiss="offcanvas">

                      <mat-icon>logout</mat-icon>
                      <span class="ms-2">Sair</span> 
                  </a>
              </li>
              <mat-divider></mat-divider>
             
          </ul>
      </div>
  </div>
</div>
