<div class="container mt-2">
  <div class="row mt-3">
    <h5 style="color: #555;" class=" mb-3">Dashboard
      <mat-slide-toggle class="float-end" 
        [checked] = "verTodos" 
        (change)="soEu()" 
        labelPosition="before">Ver todos
      </mat-slide-toggle>
    </h5>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-3">
    <ng-container *ngFor="let card of cards;" >
      <div class="col-md-6 col-lg-4 col-12 mb-3" 
        [hidden]="!verTodos && usuario!==card.usuario">
        <app-grafico 
          usuario="{{card.usuario}}"
          contato="{{card.contato}}"
          prospect="{{card.prospect}}"
          qualificado="{{card.qualificado}}" >
        </app-grafico>
      </div>
    </ng-container>
  </div>    
</div>